html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { border:0; font-size:100%; font:inherit; vertical-align:baseline; margin:0; padding:0; }  article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }  body { line-height:1; }  ol,ul { list-style:none; }  blockquote,q { quotes:none; }  blockquote:before,blockquote:after,q:before,q:after { content:none; }  table { border-collapse:collapse; border-spacing:0; }

/* Basic elements */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic);

* {
	font-family: Avenir Next, Source Sans Pro, Helvetica Neue, Arial, sans-serif !important;
	margin: 0;
	padding: 0;
}
body {
	background-color: #1d1d1d;
	color:white;
}
/* Navigation */

#q {
	top: 0;
}
.wrapper {
	padding-right:18%;
	padding-left:18%;
}
#navbar {
	padding: 10px;
	top: 0;
	position: fixed;
	background: rgba(0,0,0,.9);
	z-index: 5;
	width: 100%;
	margin: 0;
	transition: all ease .7s;
}
#navbar h2{
	text-align:right;
	float:right;
	opacity: 0.8;
	margin-top: 5px;
}
#q {
	background: none;
	color: grey;
	font-size: 1.6rem;
	border: none;
	font-weight: 300;
}
#q:focus {
	outline: none;
}
#q:focus h2 {
	opacity: 1;
}
footer {
	bottom:0;
	position: fixed;
}
/* Songs list */
#tracks_list span, #tracks_list h4 {
	margin-top:4px;
	color:white;
	font-weight: 300;
}
#tracks_list span {
	font-size: 22px;
	color:gray;
}
#tracks_list span b {
	font-weight: 400;
}
#tracks_list h4 {
	letter-spacing: 2px;
}
#tracks_list h2{
	font-weight: 400;
	color:white;
	font-size:26px;
	text-decoration: none;
	opacity: .8;
}
#tracks_list a {
	text-decoration: none;
}
#tracks_list li {
	padding-bottom:18px;
	padding-top:18px;
	list-style: none;
	transition:.3s all ease;
}
#tracks_list li:hover {
	padding-left: 1%;
}
#tracks_list li:hover h2 {
	opacity: 1;
}
.plays {
	font-style: italic;
}
#sounds {
	margin-top:50px;
}
#controls {
	float: right;
}
#controls svg {
	height: 30px;
}
#play {
	fill: white;
	text-decoration: none;
	cursor: pointer;
	color: white;
}
#play span {
	margin-top: -20px;
}
svg[width="0"] { clip:rect(0 0 0 0); height: 0; overflow: hidden; position: absolute; width: 0; }
svg[width="1em"] { display: inline-block; height: 1.34ch; width: 1.34ch; }
svg[width="0.5em"] { display: inline-block; height: 1.34ch; width: 0.67ch; }

@media screen and (max-width: 900px) {
	#tracks_list h2 {
		font-size:26px;
	}
	#navbar h2 {
		display:none;
	}
}
@media screen and (max-width: 700px) {
	.wrapper {
		padding-right:3%;
		padding-left:3%;
	}
	#tracks_list h2 {
		font-size:23px;
	}
	#tracks_list li, #stuffInNavbar {
		padding-left:5px;
		padding-right:5px;
	}
	#tracks_list li:hover {
	padding-left:5px;
	padding-right:5px;
	}
}

.pp-slider { float:left;  -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; height: 30px; margin-top: 10px; margin-bottom: -10px; margin-right: 20px;}
.pp-slider .pp-slider-scale { background-color: #aaa; height: 1px; border-bottom: 1px solid #efefef; width: 70px; margin-top: 6px; float: left; }
.pp-slider .pp-slider-scale .pp-slider-button { width: 12px; border-radius: 2px; border: 1px solid #adadad; height: 16px; position: relative; top: -7px; left: 46.5px; background-color: #efefef; cursor: pointer; }
.pp-slider .pp-slider-scale .pp-slider-button .pp-slider-divies { border-left: 1px solid #adadad; border-right: 1px solid #adadad; position: relative; left: 3px; top: 3px; width: 4px; height: 10px; }
.pp-slider .pp-slider-scale .pp-slider-button:hover { border-color: #777; background-color: #eee;  }
.pp-slider .pp-slider-scale .pp-slider-tooltip { width: 24px; height: 20px; position: relative; top: -5px; left: 0px; text-align: center; font-size: 10px; color: #aaa; }
.pp-slider .pp-slider-min { float: left; width: 15px; color: #aaa; font-size: 10px; }
.pp-slider .pp-slider-max { float: left; width: 15px; color: #aaa; font-size: 10px; text-align: right; }
