html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { border:0; font-size:100%; font:inherit; vertical-align:baseline; margin:0; padding:0; }  article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }  body { line-height:1; }  ol,ul { list-style:none; }  blockquote,q { quotes:none; }  blockquote:before,blockquote:after,q:before,q:after { content:none; }  table { border-collapse:collapse; border-spacing:0; }

/* Basic elements */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic);

* {
	font-family: Avenir Next, Source Sans Pro, Helvetica Neue, Arial, sans-serif !important;
	margin: 0;
	padding: 0;
}
body {
	background-color: #1d1d1d;
	color:white;
}
/* Navigation */

#q {
	top: 0;
}
.wrapper {
	padding-right:18%;
	padding-left:18%;
}
#navbar {
	padding: 10px;
	top: 0;
	position: fixed;
	background: rgba(0,0,0,.9);
	z-index: 5;
	width:100%;
	margin: 0;
	transition: all ease .7s;
}
#navbar h2{
	text-align:right;
	float:right;
	opacity: 0.8;
	margin-top:5px;
}
#q {
	background: none;
	color: grey;
	font-size: 24px;
	border: none;
	font-weight: 300;
}
#q:focus {
	outline: none;
}
#q:focus h2 {
	opacity: 1;
}
footer {
	bottom:0;
	position: fixed;
}
/* Songs list */
#tracks_list span, #tracks_list h4 {
	margin-top:4px;
	color:white;
	font-weight: 300;
}
#tracks_list span {
	color:gray;
}
#tracks_list span b {
	font-weight: 400;
}
#tracks_list h4 {
	letter-spacing: 2px;
}
#tracks_list h2{
	font-weight: 400;
	color:white;
	font-size:26px;
	text-decoration: none;
	opacity: .8;
}
#tracks_list a {
	text-decoration: none;
}
#tracks_list li {
	padding-bottom:18px;
	padding-top:18px;
	list-style: none;
	transition:.3s all ease;
}
#tracks_list li:hover {
	padding-left:1%;
}
#tracks_list li:hover h2 {
	opacity: 1;
}
.plays {
	font-style: italic;
}
#sounds {
	margin-top:50px;
}
.playedSong li h2, .playedSong li span{
	color:#ff7700 !important;
}
@media screen and (max-width: 900px) {
	#tracks_list h2 {
		font-size:26px;
	}
	#navbar h2 {
		display:none;
	}
}
@media screen and (max-width: 500px) {
	#tracks_list h2 {
		font-size:23px;
	}
	#tracks_list li, #stuffInNavbar {
		padding-left:5px;
		padding-right:5px;
	}
	#tracks_list li:hover {
	padding-left:5px;
	padding-right:5px;
	}
	#q {
		font-size:20px;
	}
	#q:focus{
		padding-top:3px;
		padding-bottom:12px !important;
	}
}
